@model RS1_2019_12_02.ViewModels.AjaxStavkaUrediVM
@{
    ViewData["Title"] = "Uredi";
}

<form asp-controller="AjaxStavke" asp-action="Snimi" ajax-poziv="da" ajax-rezultat="AjaxDiv">
    <input asp-for="PopravniIspitStavkaId" hidden />
    <label>Ucenik: @Model.Ucenik</label> <br />
    <input asp-for="@Model.Bodovi" type="text" />
    <input type="submit" value="Snimi" />
</form>

