@model RS1_2019_01_21.ViewModels.AjaxStavkeUrediVM
@{
    ViewData["Title"] = "Uredi";
}

<form ajax-poziv="da" ajax-rezultat="AjaxDiv" asp-controller="AjaxStavke" asp-action="Snimi">
    <input asp-for="MaturskiIspitStavkaId" hidden />
    <div class="form-group">
        <label class="control-label">Učenik</label>
        <input asp-for="Ucenik" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label class="control-label">Bodovi</label>
        <input asp-for="Bodovi" class="form-control" />
    </div>
    <div>
        <input type="submit" value="Snimi"/>
    </div>
</form>

