<p>studenti works!</p>

<p>Filter by ime i prezime <input [(ngModel)]="filter" /></p>
<table class="table table-warning">
  <tr>
    <th>ID</th>
    <th>Ime</th>
    <th>Prezime</th>
    <th>Broj indeksa</th>
    <th>Drzava rođenja</th>
    <th>Opstina rođenja</th>
    <th>Datum dodavanja</th>
    <th>Profilna slika</th>
    <th>Akcija</th>
  </tr>
  <tbody>
    <tr *ngFor="let s of filterStudents()">
      <td>{{ s.id }}</td>
      <td>{{ s.ime }}</td>
      <td>{{ s.prezime }}</td>
      <td>{{ s.broj_indeksa }}</td>
      <td>
        {{ s.opstina_rodjenja != null ? s.opstina_rodjenja.drzava.naziv : "" }}
      </td>
      <td>
        {{ s.opstina_rodjenja != null ? s.opstina_rodjenja.description : "" }}
      </td>
      <td>{{ s.created_time | date }}</td>
      <td><img class="profilna-slika" src="{{ s.slika_korisnika }}" /></td>
      <td>
        <button (click)="delete(s.id)">Delete</button>
        <button (click)="edit(s)">Edit</button>
        <button routerLink="/student-maticnaknjiga/{{ s.id }}">
          Maticna Knjiga
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button class="form-label" (click)="newStudent()">Novi student</button>

<app-edit-student
  *ngIf="editStudent"
  [student]="editStudent"
  (closeModal)="editStudent = null"
  (edit)="onEditStudent($event)"
></app-edit-student>

<app-new-student
  *ngIf="showModal"
  (closeModal)="showModal = false"
  (result)="addStudent($event)"
></app-new-student>
