@using RS1_2017_06_21
@model RS1_2017_06_21.EF.MojContext
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test DB - row count</h2>
Ucenik: @Model.Ucenik.Count() <br />
Odjeljenje: @Model.Odjeljenje.Count() <br />

@Html.ActionLink("Back", "Index")
