@model RS1_2019_11_04.ViewModels.AjaxStavkeUrediVM
@{
    ViewData["Title"] = "Uredi";
}

    <form ajax-poziv="da" ajax-rezultat="AjaxDiv" asp-controller="AjaxStavke" asp-action="Snimi">
        <input asp-for="PopravniIspitStavkaId" value="@Model.PopravniIspitStavkaId" hidden />
        <div class="form-group">
            <label asp-for="ImePrezime" class="control-label">Učenik: </label>
            <input asp-for="ImePrezime" value="@Model.ImePrezime" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Bodovi" class="control-label">Bodovi: </label>
            <input asp-for="Bodovi" value="@Model.Bodovi" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Snimi"/>
        </div>
    </form>

