
@{
    ViewBag.Title = "Index";
}

<h2 class="">Logiranje na sistem</h2>

@using (Html.BeginForm("Provjera", "Login"))
{

    <div class="form-group">
        <label for="username">Username</label>
        <input  class="form-control" id="username" name="username" placeholder="Username" value="1">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input  class="form-control" id="password"  name="password"  placeholder="Password" value="test">
    </div>
   
    <button type="submit" class="btn btn-default">Prijavi se</button>

           
}
